.footer {
 margin-top:10%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.logout
{
	margin-top:100%;
}
.dashboard
{
	padding:5%;
}

.form_part
{
	padding-top:12%;
}
@media only screen and (max-width: 400px)
{
	.form_part
	{
		display:none;
	}
}
.edit-field
{
	padding:5%;
}

.product_div
{
	text-align:center;
}
.product_div h4
{
	padding:15% 0%;
	text-align:center;
	color:#5A5A5A;
}
.product_div h4:hover
{
	color:#18BBD5;
}
.product_div img:hover
{
	opacity:0.7;
}
.btn-view
{
	background-color:#1c678f;
}
.productdiv
{
	text-align:center;
}
.imgdiv div
{
	margin-bottom:50%;
}
